@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap");

#Calculated {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 25px;
  width: 480px;
  height: 600px;
  color: white;
  overflow: hidden;
  box-shadow: 0px 10px 10px 12px #8b8a8a;
  margin-top: 50px;
}

body {
  background-color: whitesmoke;
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
}
h1 {
  background-color: whitesmoke;
  color: rgb(51, 47, 47);
}

#display {
  width: 100%;
  text-align: left;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 3rem;
  border-radius: 25px;
  box-shadow: 4px 0px 20px #bfaeae;
  border: none;
  background-color: rgb(5, 5, 5);
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

button {
  width: 90px;
  padding: 10px;
  margin-top: 9px;
  border: 0px;
  background-color: rgb(26, 24, 24);
  color: white;
  font-weight: bolder;
}

button:hover {
  background-color: rgba(69, 64, 64, 0.306);
}

button:active {
  background-color: rgb(146, 146, 229);
}

.operator-btn {
  background-color: orange;
}

.operator-btn:hover {
  background-color: orange;
}

.operator-btn:active:nth-child(1) {
  background-color: green;
}

.operator-btn:active:nth-child(5) {
  background-color: red;
}

.operator-btn:active:nth-child(9) {
  background-color: rgb(17, 182, 154);
}

.operator-btn:active:nth-child(13) {
  background-color: rgb(171, 196, 10);
}

.operator-btn:active:nth-child(16) {
  background-color: rgb(9, 145, 166);
}

.operator-btn:active:nth-child(17) {
  background-color: rgb(77, 19, 3);
}
